@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}


.task-list {
  min-height: 100vh;
}

.goal-text {
  color: #8D61D6;
}

/* Hide the default checkbox */
input.task[type="checkbox"] {
  display: none;
}

/* Container for the custom checkbox */
.round-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
}

/* Create the round circle background */
.round-checkbox .checkmark {
  position: absolute;
  bottom: -4px;
  left: 4px;
  height: 25px;
  width: 25px;
  background-color: #fbfbfe;
  border-radius: 50%; /* Makes it round */
}

/* Show checkmark when checkbox is checked */
input.task[type="checkbox"]:checked + .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.round-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 4px;
  width: 8px;
  height: 14px;
  border: solid #433bff; /* Purple checkmark */
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Change background color when the checkbox is checked */
input.task[type="checkbox"]:checked + .checkmark {
  background-color: #fbfbfe;
}
.invisible {
  display: none;
}

.warning {
  color: #f00;
  font-size: larger;
}

main {
  margin: 20px
}
/* h1 {
  text-decoration: underline;
  font-size: 4rem;
} */


.text-color {
  color: #040316;
}

.background-color {
  background-color: #fbfbfe;
}

li {
  list-style-type: none;
}